.video {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 900;
  font-family: inherit;
}
.videoWrapper {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
.videoPlayer {
  /* width: 445px; */
  /* max-height: 500px; */
  height: 400px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.details,
.details1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 900;
  font-family: inherit;
}
.details1 {
  z-index: 1;
  margin: 0 0 0-197px;
}
.detailsParent,
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.detailsParent {
  flex: 1;
}
.frameContainer {
  width: 211.5px;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.frameChild {
  height: 282.5px;
  width: 719px;
  position: relative;
  display: none;
  max-width: 100%;
}
.col1,
.title {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 54px;
}
.col1 {
  flex: 1;
  color: var(--color-gray-100);
  min-width: 28px;
}
.titleParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.col3 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
  min-width: 41px;
}
.frameParent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 253px;
  max-width: 100%;
}
.col2 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
  min-width: 40px;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  flex-shrink: 0;
  /* debug_commit: bf4bc93; */
  max-width: 100%;
}
.name {
  font-weight: 500;
}
.div,
.div1,
.name {
  position: relative;
  line-height: 150%;
  display: inline-block;
  overflow: scroll;
}
.div1 {
  width: 100%;
}
.div {
  min-width: 28px;
}
.nameParent,
.parent {
  max-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}
.parent {
  max-height: 90px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
}
.nameParent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.size {
  font-weight: 500;
  min-width: 25px;
}
.div2,
.div3,
.size {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.div2 {
  min-width: 28px;
}
.div3 {
  width: 30px;
}
.group,
.sizeParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group {
  width: 105px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
}
.sizeParent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.owner {
  font-weight: 500;
  min-width: 40px;
}
.div4,
.div5,
.owner {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.div4 {
  min-width: 28px;
}
.div5 {
  width: 30px;
}
.container,
.ownerParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container {
  width: 105px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
}
.ownerParent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.div6,
.div7,
.row4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.row4 {
  height: 24px;
  flex: 1;
  font-weight: 500;
  min-width: 203px;
}
.div6,
.div7 {
  align-self: stretch;
  width: 28px;
}
.div7 {
  width: 30px;
}
.parent1,
.row4Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent1 {
  height: 24px;
  width: 105px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: right;
}
.row4Parent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.div8,
.div9,
.row5 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.row5 {
  height: 24px;
  flex: 1;
  font-weight: 500;
  min-width: 203px;
}
.div8,
.div9 {
  align-self: stretch;
  width: 28px;
}
.div9 {
  width: 30px;
}
.parent2,
.row5Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent2 {
  height: 24px;
  width: 105px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: right;
}
.row5Parent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.div10,
.div11,
.row6 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.row6 {
  height: 24px;
  flex: 1;
  font-weight: 500;
  min-width: 203px;
}
.div10,
.div11 {
  align-self: stretch;
  width: 28px;
}
.div11 {
  width: 30px;
}
.parent3,
.row6Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent3 {
  height: 24px;
  width: 105px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: right;
}
.row6Parent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.div12,
.div13,
.row7 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.row7 {
  height: 24px;
  flex: 1;
  font-weight: 500;
  min-width: 203px;
}
.div12,
.div13 {
  align-self: stretch;
  width: 28px;
}
.div13 {
  width: 30px;
}
.list,
.parent4,
.row7Parent,
.table {
  display: flex;
  align-items: flex-start;
}
.parent4 {
  height: 24px;
  width: 105px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: right;
}
.list,
.row7Parent,
.table {
  justify-content: flex-start;
}
.row7Parent {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  padding: var(--padding-3xs) 0 var(--padding-xs);
  gap: var(--gap-39xl);
}
.list,
.table {
  flex-shrink: 0;
  flex-direction: column;
}
.list {
  align-self: stretch;
  /* debug_commit: bf4bc93; */
}
.table {
  height: 232px;
  width: 494px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-135xl) var(--padding-5xl);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.secondaryButton,
.table {
  z-index: 1;
  color: white;
}
.vectorParent {
  align-self: stretch;
  border: 0 solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-10xl) var(--padding-6xl-5)
    var(--padding-13xl);
  gap: var(--gap-14xl);
  max-width: 100%;
  font-size: var(--small-text-size);
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  justify-content: flex-start;
}
.frameWrapper {
  width: 719px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xl-5);
  box-sizing: border-box;
  min-width: 719px;
}
.videoPlayerParent {
  padding: 20px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: space-between; */
  max-width: 100%;
  gap: var(--gap-xl);
  margin-top: -27px;
}
.frameParent {
  width: 1254.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--small-text);
}
@media screen and (max-width: 1350px) {
  .frameWrapper,
  .videoPlayer {
    flex: 1;
  }
  .videoPlayerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .frameWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .details,
  .details1,
  .video {
    font-size: var(--subheading-size);
    line-height: 43px;
  }
  .frameDiv {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .nameParent,
  .ownerParent,
  .row4Parent,
  .row5Parent,
  .row6Parent,
  .row7Parent,
  .sizeParent {
    flex-wrap: wrap;
    gap: var(--gap-10xl);
  }
  .table {
    height: auto;
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-81xl);
    box-sizing: border-box;
  }
  .vectorParent {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .details,
  .details1,
  .video {
    font-size: var(--font-size-lg);
    line-height: 32px;
  }
  .titleParent {
    flex-wrap: wrap;
  }
}


.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  bottom: 100%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(9, 37, 63);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  width: 150px;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: rgb(0, 28, 55);
}

.download {
  background-color: transparent;
  border: transparent;
  color: white;
}