.signLanguageTranscription {
  position: relative;
  line-height: 200%;
  font-weight: 500;
}

.signLanguageTranscriptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.topic {
  color: var(--color-gainsboro-100);
}

.page,
.page1,
.topic {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.topicParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}

.topic1 {
  color: var(--color-gainsboro-100);
}

.page2,
.page3,
.topic1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.topicGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}

.topic2 {
  color: var(--color-gainsboro-100);
}

.page4,
.page5,
.topic2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.topicContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}

.frameContainer,
.frameGroup {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.frameContainer {
  margin-right: 0;
  justify-content: end;
  gap: var(--gap-12xl-5);
  font-size: var(--small-text-size);
  color: var(--color-darkslategray-100);
}

.frameGroup {
  width: 100%;
  align-self: stretch;
  justify-content: space-between;
}

.buttonsIcon,
.buttonsIcon1,
.buttonsIcon2,
.buttonsIcon3 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
  min-height: 40px;
}

.buttonsIconParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}

.page6,
.page7 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 122px;
}

.pageParent {
  width: 406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}

.page8 {
  width: 187px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.frameDiv,
.frameParent,
.navigationFooter {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;

}

.frameDiv {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-12xl);
  font-size: var(--small-text-size);
  color: var(--color-darkslategray-100);
}

.frameParent,
.navigationFooter {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xs);
}

.navigationFooter {
  margin-top: auto;
  min-height: 150px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-white);
  font-family: var(--small-text);
}

@media screen and (max-width: 1150px) {
  .frameContainer {
    flex: 1;
  }

  .frameGroup {
    flex-wrap: wrap;
  }

  .frameDiv {
    overflow-x: auto;
  }
}

@media screen and (max-width: 800px) {
  .frameContainer {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }

  .buttonsIconParent {
    box-sizing: border-box;
  }

  .frameDiv {
    gap: var(--gap-mini);
  }

  .navigationFooter {
    gap: var(--gap-4xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .signLanguageTranscription {
    font-size: var(--small-text-size);
    line-height: 24px;
  }

  .buttonsIconParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .pageParent {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}

.name {
  color: white;
}

.frameParent {
  flex-direction: row;
}

.iconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonsIconParent {
  position: relative;
  display: flex;
  gap: 20px;
}

.iconContainer::before,
.iconContainer::after {
  content: '';
  position: absolute;
  background-color: #FFF;
  height: 2px;
  width: 350px;
}

.iconContainer::before {
  left: -400px;
}

.iconContainer::after {
  right: -400px;
}
