body {
  height: 100%;
  /* Ensure the body takes full height of the viewport */
  margin: 0;
  /* Remove default margin */
  overflow: hidden;
  /* Prevent default scrolling on the body */
}

.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 35px;
  max-width: 100%;
}

.about,
.aboutInner,
.frameParent {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

.aboutInner {
  flex-direction: row; /* Assuming it's a flex container */
  padding: 0 var(--padding-28xl, 20px) 15px; /* Adjusted default padding */
  box-sizing: border-box; /* Include padding and border in element dimensions */
}



.about {
  width: 100%;
  height: 100%;
  /* Ensure the container takes full height of the viewport */
  position: fixed;
  bottom: 0;
  top: 0;
  background-color: #2d4561;
  overflow: auto;
  /* Enable scrolling */
  flex-direction: column;
  gap: 25px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1350px) {
  .aboutInner {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 800px) {
  .frameParent {
    gap: var(--gap-mid);
  }
}


.divider {
  background-color: white;
  align-self: stretch;
  height: 3px;
  position: relative;
  border: 1px solid white;
  box-sizing: border-box;
}